body {
    font-family: sans-serif;
    line-height: 1.5;
}

h2,
button,
.free-delivery,
h3 {
    text-transform: uppercase;
}

/* =================
        cta
================== */

button {
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
    color: white;
    background-color: black;
    border: none;
}

button:hover {
    color: black;
    background-color: unset;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    text-decoration: none;
}

/* ==================
   typography
================== */   

h2 {
    font-size: 22px;
    text-align: center;
    background-color: #f7f7f7;
}    

.free-delivery {
    font-size: 12px;
    font-weight: bold;
    color: #777;
}    

.price {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

/* ================
   layout
================ */

article {
    border: 5px solid black;
}

ul {
    list-style-type:square ;
}