* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #444;
    border-top: 8px solid #8a2be2;
}

.article-image {
    width: 100%;
}

/*================= 
   typography 
=================*/

h1, h3, h4 {
    text-transform: uppercase;
}

h1, 
h2, 
h3,
li:nth-child(2),
a:link,
a:visited {
    color: #8a2be2;
}

/* challenge */

.post-author,
li:first-child,
a:hover {
    font-weight: bold;
}

/* challenge */

li, h4 {
    font-size: 20px;
}

#author, #copyright {
    font-size: 16px;
}

h1 {
    font-size: 26px;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 26px;
}

h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 22px;
}

h4 {
    text-align: center;
}

p {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.5;
}

#author {
    font-style: italic;
}

.post-author {
    font-size: 18px;
}

.related {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    font-style: italic;
    margin-bottom: 0;
}

a:link, a:visited {
    display: inline-block;
    margin-top: 12px;
    margin-right: 32px;
    text-decoration: none;
}

a:hover, a:active {
    color: #5b189b;
    text-decoration: solid underline;
}

nav a:link, nav a:visited {
    display: inline-block;
    margin-top: 12px;
    margin-right: 32px;
} 

nav a:link:last-child {
    /* МНОГО ВАЖНО ДА СЕ ПРАВИ !!! */
    margin-right: 0;
}

/* 
nav a:link {
    display: block;
    margin: 20px;
    padding: 20px;
    background-color: red;
} */

/* li {
    display: inline;
} */

/* video challenge

.video-challenge {
    font-size 25px;
    font-style: italic;
}

*/


/* =================
    layout
================= */

.page-header, aside {
    background-color: #f7f7f7;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

.wrapper {
    width: 800px;
    margin-inline: auto;
}

.page-header {
    height: 80px;
    margin-bottom: 60px;
    padding: 20px 40px;
}

.article-header {
    margin-bottom: 40px;
}

article {
    margin-bottom: 60px;
}

aside {
    width: 500px;
    padding: 50px 0;
    border-top: 5px solid #8a2be2;
    border-bottom: 5px solid #8a2be2;
    /* challenge
    border-color: blue
    */
}


/* 
specificity conflicts
#copy-right {
    color: red;
}

.copy-right {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green !important;
}
*/

