/*================= 
   typography 
=================*/

h1, 
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
}

h1, h3, h4 {
    text-transform: uppercase;
}

/* challenge */

h1, 
h2, 
h3,
li:nth-child(2),
a:link,
a:visited {
    color: #8a2be2;
}

/* challenge */

p, li, h4 {
    color: #444;
}

.post-author,
li:first-child,
a:hover {
    font-weight: bold;
}

li, h4 {
    font-size: 20px;
}

#author, #copyright {
    font-size: 16px;
}

h1 {
    font-size: 26px;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
}

#author {
    font-style: italic;
}

.post-author {
    font-size: 18px;
}

.related {
    list-style-type: none;
}

li:last-child {
    font-style: italic
}

a:link {
    text-decoration: none;
}

a:hover, a:active {
    color: #5b189b;
    text-decoration: solid underline;
}

/* video challenge

.video-challenge {
    font-size 25px;
    font-style: italic;
}

*/


/* =================
    layout
================= */

.page-header, aside {
    background-color: #f7f7f7;
}

aside {
    border-top: 5px solid #8a2be2;
    border-bottom: 5px solid #8a2be2;
    /* challenge
    border-color: blue
    */
}
